.search_categories {
  display: flex;
  justify-content: center;
  margin: 20px;
  h4 {
    padding-bottom: 15px;
    flex-wrap: wrap;
  }
  .category_list {
    display: flex;
    justify-content: center;
    gap: 15px;
    .category_card {
      display: flex;
      gap: 10px;
      // flex-direction: column;
      width: 200px;
      height: 120px;
      .category_card_item {
        img {
          height: 120px;
          width: auto;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }
  p {
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
  }
}
